body{ 
    background-color: blue;
    color: #000ff0;
    font-family: Arial, sans-serif;

}

header { 
    background-color:aquamarine;
    color:aquamarine;
    text-align: center;
    padding: 30px;
    

}    
h1 {
    font-size: 36px;


}
h2 {
    color:aqua;

}
p {
    font-size: 18px;
    line-height: 1.6;
}
